:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
.App {
  text-align: center;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all .5s;
  
  
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  transition: all .5s;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  
}